<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>FTP</WebPublishMethod>
    <ExcludeFoldersFromDeployment>PhotonCode;SQL;logs;Testing;App_Readme</ExcludeFoldersFromDeployment>
    <ExcludeFilesFromDeployment>Readme.txt;ManualTestScripts.xls</ExcludeFilesFromDeployment>
    <LastUsedBuildConfiguration>1and1Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>[HOSTED URL]/logon.aspx</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>True</ExcludeApp_Data>
    <publishUrl>ftp://[FTP URL]</publishUrl>
    <DeleteExistingFiles>False</DeleteExistingFiles>
    <FtpPassiveMode>True</FtpPassiveMode>
    <FtpSitePath>[PATH]</FtpSitePath>
    <UserName>[USERNAME]</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>
