<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- Elmah config #1-->
    <sectionGroup name="elmah">
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
      <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah" />
    </sectionGroup>
  </configSections>

  <appSettings>
    <!--<add key="serviceUrl" value="http://local.garagedoor/WebService1.asmx"/>-->
    <add key="serviceUrl" value="http://192.168.0.11/WebService1.asmx"/>
    <add key="particleUrl" value="https://api.spark.io/v1/devices/"/>
    <add key="accessToken" value="[PARTICLE ACCOUNT ACCESS TOKEN]"/>
    <add key="photon1" value="[TOKEN FOR PHOTON 1]"/>
    <add key="photon2" value="[TOKEN FOR PHOTON2]"/>
    <add key="activePhoton" value="photon1"/>
    <add key="user" value="[USERID]"/>
    <add key="pw" value="[PASSWORD]"/>
    <add key="joeLan" value="192.168.0"/>
    <add key="joeWan" value="99.999.999.99"/>
    <add key="sqlLogging" value="true" />
    <add key="vs:EnableBrowserLink" value="false"/>
  </appSettings>

  <connectionStrings>
    <add name="GarageDoor" connectionString="[LOCAL CONNECTION STRING];Integrated Security=SSPI" providerName="System.Data.SqlClient"/>
    <!-- Elmah config #2-->
    <add name="elmah-sqlserver" connectionString="[LOCAL CONNECTION STRING];Integrated Security=SSPI" providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <system.web>
    <authentication mode="Forms">
      <forms loginUrl="Logon.aspx" name=".ASPXFORMSAUTH" />
    </authentication>
    <authorization>
      <deny users="?" />
    </authorization>
    <customErrors mode="Off"/>
    <webServices>
      <protocols>
        <remove name="Documentation"/>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
    <compilation debug="true" targetFramework="4.6.1"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
    <!-- Elmah config #3-->
    <httpModules>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" />
    </httpModules>
  </system.web>

  <location path="Hide.asmx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <system.codedom>
    <compilers/>
  </system.codedom>
  <system.webServer />
  <runtime />

  <!-- Elmah config #4-->
  <elmah>
    <security allowRemoteAccess="yes" />
    <errorLog type="Elmah.SqlErrorLog, Elmah" connectionStringName="elmah-sqlserver" />
  </elmah>

  <!-- Elmah config #5-->
  <location path="elmah.axd">
    <system.web>
      <httpHandlers>
        <add verb="POST,GET,HEAD"
             path="elmah.axd"
             type="Elmah.ErrorLogPageFactory, Elmah" />
      </httpHandlers>
      <!-- see http://code.google.com/p/elmah/wiki/SecuringErrorLogPages -->
      <!--<authorization>
        <deny users="?" />
      </authorization>-->
    </system.web>
    <system.webServer>
      <handlers>
        <add name="ELMAH"
             verb="POST,GET,HEAD"
             path="elmah.axd"
             type="Elmah.ErrorLogPageFactory, Elmah"
             preCondition="integratedMode" />
      </handlers>
    </system.webServer>
  </location>

</configuration>